<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Something about me</title>
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <link rel="stylesheet" href="../static/aboutme.css">
</head>
<body>
    <div id="root"><h2>My name is linh</h2>
        <h2>Today i am going to tell you about me</h2>
        <ol>
            <li>Name : Trần Hoàng Linh</li>
            <li>Work : Student</li>
            <li>School : HA NOI UNIVERSITY OF SCIENCE AND TECHNOLOGY</li>
            <li>Hobbies : Watch movies, Play Dota2 or LOL with my friend, go out and eat with someone</li>
            <li>My crush : she is someone on this planet</li>
        </ol> 
    </div>
    
</body>
</html>