<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="../static/personal_types.css">
    <title>personal types</title>
</head>
<body>
    <div id="root">
    </div>
    <div id="reet">
        <h1 id="heading">Personal Types</h1>
    </div>
    <div id="raat">
        <h1 id="first">The Mediator
            <h3 class="first">
                - You are a sensitive idealist
                motivated by your deeper
                personal values. You see the
                potential of a better future,
                and pursue truth and meaning
                with your own particular flair.
                You love motivating others to
                become better

            </h3>
            <h3 class="first">
                - Job best suited: Graphics Designer, 
                Pycologist, Writer, Artist, Editor, 
                Therapist, HR Deverlopment manager, 
                Councillor
            </h3>
        </h1>
    </div>
    <div id="riit">
        <h1 id="second">The Protagonist
            <h3 class="second">
                - You are people living and driven, with
                lots of enegy and a desire to express 
                yourself. You always seem to be tuned 
                into the needs of others, but remain optimistic 
                and forward-looking
            </h3>
            <h3 class="second">
                - Job best suited: Advertising executive, public 
                Relations specialist, Corporate Coach, personal 
                Trainer, Teacher, Motivation Speaker, headhunter, 
                Fashion Design
            </h3>
        </h1>
    </div>
    <div id="ruut">
            <h1 id="third">The Provider
                <h3 class="third">
                    - Motivated to help others, you find yourself 
                    always attracted to roles and duties that 
                    benefit others. With family and friends your 
                    top priority in life, you are generous with 
                    your time, effort and emotions
                </h3>
                <h3 class="third">
                    - Job best suited: Sale Rep, Doctor/nurse, 
                    Life Coach, Loan Officer, Policeman/woman, 
                    Social Worker, Government Worker, Paramedic
                </h3>
            </h1>
        </div>
</body>
</html>